#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

form > * {
  flex: 1;
  margin-bottom: 8px;
}

input:focus-visible, textarea:focus-visible {
  outline: 0px;
  filter: brightness(0.9)
}